*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@keyframes example {
  from {color: white;}
  to {color: rgb(223, 164, 0);}
}
#particles-js{
 

    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("bg.jpg")  ;
    background-size: cover;
    opacity: 100%;
  }
  h1{
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: white;
  }
  h2{
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-45%,-40%);
    font-size: 50px;
    animation-name: example;
    animation-duration: 9s;
    animation-play-state: running;
    color: rgb(223, 164, 0);
  }
  button{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-45%,-40%);
    font-size: 30px;
    cursor: pointer;
    padding: 10px 28px;
    background-color: rgb(223, 164, 0);
    color: black;
    text-align: center;
    border: none;
    transition-duration: 0.9s;
    border-radius: 8px;
  }
  button:hover
  {
    background-color:black ;
    color: rgb(223, 164, 0);
  }
  h5{
    position: absolute;
    top: 96%;
    left: 50%;
    font-weight: lighter;
    transform: translate(-45%,-40%);
    font-size: 15px;
    color: white;
  }
  